

<div class="cards">
  <div class="card card1">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>

    <div class="card card2">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>

    <div class="card card3">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>

    <div class="card card1">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>

    <div class="card card2">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>

    <div class="card card3">
    <div class="container">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREI_Wd0rY-tkyJh5_3pB_X67GQGLUKE4_wvQ&usqp=CAU" alt="">
    </div>
    <div class="details">
      <h3>Name of ship</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa est voluptatem molestias inventore, natus totam. Nisi dolorum corporis reprehenderit rem?</p>
      <%= link_to "Book Now", spaceship_path(:id) , class: "nav-link text-secondary" %>
    </div>
  </div>
</div>
<%#= link_to "New spaceship", spaceships_new_path if policy(Spaceship).new? %>
