
<div class="main">
  <h1 class="text-align-center">Welcome to your spaceship <i class="fa-brands fa-space-awesome"></i> <%= @spaceship.name %></h1>
  <h4 class="show-h4">Here you can find more information and book your journey with <%= @spaceship.name %></h4>


<div class="min-height">
  <div class="container-md pt-3">
    <div class="image-box">
      <img src="https://blu-ray-rezensionen.net/wp-content/uploads/2020/01/serenity-flucht-in-neue-welten-4k-uhd-blu-ray-review-szene-2-e1578382288763.jpg" alt="">
    </div>
</div>

<div class="container-md pt-3 pb-3">
  <div class="d-flex">
    <div style="width: 65%">
      <h5><%= @spaceship.name %></h5>
      <p><%= @spaceship.description %>.</p>
      <p>price: $<%= @spaceship.price %></b> p/d</p>
      <p><small class="text-muted">occupancy: <%= @spaceship.max_people %></small></p>
      <p><%= @spaceship.description %>.</p>
    </div>
      <div class="booking-form"></div>
        <%#= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
        <%#= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
        <%#= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
        <%#= f.submit 'Schedule your appointment' %>
      <%# end %>
      </div>
  </div>
</div>


</div>





  <div>
<% if policy(@spaceship).edit? %>
<%= link_to "Edit this spaceship", edit_spaceship_path(@spaceship) %> |
<% end %>

<%= button_to "Destroy this spaceship", @spaceship, method: :delete if policy(@spaceship).destroy? %>
</div>
</div>

<%#= simple_form_for @booking, data: { controller: 'flatpickr' } do |f| %>
  <%#= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%#= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <%#= f.submit 'Schedule your appointment' %>
<%# end %>
